name: pytest

on: [push, pull_request, workflow_dispatch]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
      - run: python -m pytest tests/test_hello.py
